@using StadiumTracker.WebMVC.Helpers

@{
    var name = Html.CurrentViewName();
    var controller = Html.ControllerName();
    if (name == "Details" && controller != "HomeController")
    {
        <p>
            @Html.ActionLink("Edit", "Edit", )
        </p>
    }
}