<h2>Using this application:</h2>
<p>The app is split into three different sections. You have a spot to add/edit different ball parks you have been to along with whether you have a pin and/or a photo from said park.</p>



<h3>Adding Stadiums</h3>
<p>Adding a stadium is pretty straight forward. Clicking on the "Stadiums" button located at the top of the screen will take you do the list of existing parks. From there you are able to create a new park. Or, if required, you can also edit or delete any or all of the existing parks</p>

<h3>Adding Companions</h3>
<p>The app is split into three different sections. You have a spot to add/edit different ball parks you have been to along with whether you have a pin and/or a photo from said park.</p>

<h3>Recording Visits</h3>
<p>The app is split into three different sections. You have a spot to add/edit different ball parks you have been to along with whether you have a pin and/or a photo from said park.</p>
