@{
    ViewBag.Title = "Home Page";
}

<h2 id="page-header">Home Page</h2>

<p class="lead"><strong>Stadium Tracker</strong> allows you to record which stadiums a person has visited along with whether they received a pin or photo from said stadium.</p>

<div class="row">
    <div class="col-md-4">
        <div class="home-descriptions">
            <h2>Track Stats</h2>
            <p class="description-text">Stadium Tracker allows you to keep track of multiple different people. On the <strong>People</strong> page you can add, edit, and remove different people. Along with creating them, the app allows you to easily track how many pins each person has acquired over their visits.</p>
            <p><a class="btn btn-default" href="../Visitor">Go To People &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="home-descriptions">
            <h2>Stadiums</h2>
            <p class="description-text">Stadium Tracker allows you to keep track of multiple different stadiums. On the <strong>Stadiums</strong> page you can add, edit, and remove different stadiums. The app also allows the user to track whether each stadium has been visited along with whether or not a user has collected a pin or photo from said stadium.</p>
            <p><a class="btn btn-default" href="../Park">Go To Stadiums &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="home-descriptions">
            <h2>Record Visits</h2>
            <p class="description-text">Stadium Tracker allows you to keep track of all recorded visits. On the <strong>Visits</strong> page you can add, edit, and remove different visits. Along with creating them, the app allows you to easily track who visited which stadium as well as what items were collected during the visit.</p>
            <p><a class="btn btn-default" href="../Visit">Go To Visits &raquo;</a></p>
        </div>
    </div>
</div>