@model StadiumTracker.Models.TeamModels.TeamDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <h2 id="page-header">
        @Html.DisplayFor(model => model.TeamName)
    </h2>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            League
        </dt>

        <dd>
            @Html.DisplayFor(model => model.League.LeagueName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
